body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(163, 206, 241);
}

#board {
  height: 580px;
  width: 590px;
  background-color: #6096ba;
  border: 10px solid #274c77;
 /* margin-top: 50px;
  margin-left: 300px;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
}

.fa-circle-info {
position: absolute;
left: 19px;
top: 19px;
font-size: 41px;
}

.tile {
  cursor: pointer;
  height: 4.375rem;
  width: 4.375rem;
  margin: 0.3125rem;
  background-color: white;
  border-radius: 50%;
  border: 0.3125rem solid #5171a1;
}

#picboard {
  height: 580px;
  width: 590px;
  margin: 5rem 0 0 18.75rem;
  position: relative;
}

#picboard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



#gameName {
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  color: #274c77;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-left: 4rem;
  text-shadow: 0 0 0.3125rem rgba(255, 255, 255, 0.8), 0 0 0.625rem rgba(255, 255, 255, 0.6), 0 0 0.9375rem rgba(255, 255, 255, 0.4);
  border: none;
  background-color: transparent;
}

#gameName .halfOne {
  color: #274c77;
  font-weight: 900;
  text-shadow: 0 0 0.3125rem rgba(255, 255, 255, 0.8), 0 0 0.625rem rgba(255, 255, 255, 0.6), 0 0 0.9375rem rgba(255, 255, 255, 0.4);
}

#halfThree {
  color: #d00000;
  text-shadow: 0 0 0.3125rem rgba(39, 76, 119, 0.8), 0 0 0.9375rem rgba(39, 76, 119, 0.4);
}

#gameName .halfTwo {
  color: #ffba08;
  font-weight: 900;
  text-shadow: 0 0 0.3125rem rgba(39, 76, 119, 0.8), 0 0 0.625rem rgba(39, 76, 119, 0.6), 0 0 0.9375rem rgba(39, 76, 119, 0.4);
}

.gameMode1:hover {
  background-color: navy;
}

.gameMode2:hover {
  background-color: navy;
}

.red-piece {
  background-color: #d00000;
}

.yellow-piece {
  background-color: #ffba08;
}



:root {
  font-size: 16px;
}

#clickbtn{
  background-color: #5171a1;
  border-radius: 1.6rem;
  color: white;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  margin: 0.625rem 0;
  border: none;
  cursor: pointer;
}

#startbtn{
  background-color: #274c77;
  border-radius: 1.6rem;
  color: white;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  margin-top: 50px ;
  border: none;
  cursor: pointer;
}

.winner{
  display: block;
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}

#player-info {
 /* position: absolute;*/
  top: 400px;
  left: 180px;
}

.top{
  display: flex;
  justify-content: center;
			align-items: center;
      text-align: center;
}

#restartBtn {
 
  top: 160px;
  
  height: 100vh;
  
  background-color: #274c77;
  border-radius: 2.5rem; /* increase the value to make corners more rounded */
  color: white;
  font-size: 1.5rem; /* increase the font size to make the text larger */
  border: none;
  cursor: pointer;
  height: 4rem; /* increase the height to make the button taller */
  width: 12rem; /* increase the width to make the button wider */
}


/*#restartBtn {
  background-color: #274c77;
  border-radius: 1.6rem;
  color: white;
  font-size: 1.125rem;
  padding: 0.625rem 1.25rem;
  margin: 0.625rem 0;
  border: none;
  cursor: pointer;
} */

/*.score-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.3125rem;
  position: absolute;
  left: 0;
  top: 12.5rem;
}

.score {
  margin-right: 1.25rem;
  font-size: 1.5rem;
  color: #274c77;
}

.score p {
  margin: 0;
  font-weight: bold;
}
*/
#player1 {
 color: #d00000;
 font-size: 40px;
}

#player2 {
  color: #ffba08;
  font-size: 40px;
}
